%h1 The Loft
%h2 Introduction
%p
  We are an IQP team developing a multiplayer music-oriented video game. In The Loft, musicians can create a room which they can link their music to. Other players can then visit created rooms, listen to the creator’s music, and discuss the music with everyone else in the room.
