%h1 Before Heaven
%h2 Introduction
%p
  Before Heaven is an interactive game where people compose, perform, and learn about music informally through fun and interesting quests. Created by VJ and Dan Manzo, Before Heaven is a non-violent, role-playing game in which users learn musicianship skills, like composition and performance, through gameplay using a patent-pending approach that allows users to play “all the right notes and chords” bypassing much of the difficulty in learning to be creative musically.

%h2 Plot Overview
%p 
  You are an individual who interacts musically with characters and the environment, learning and creating music through each encounter. In each level, you learn the fundamentals of music making both within the gameworld using controls and in real life by informally learning basic music concepts. Your musical skills are used to create and perform music for recreation, profession, and competition.
 
%p
  A musical tournament is held in each of seven provinces. Throughout gameplay, you acquire skills and instruments that facilitate your ability to compose and perform music, or spirit, and thus, compete as part of a team representing your home province in the tournament. However, through each level of play, a mysterious underlying story of oppression and revolt is revealed.
